{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="center-form">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="login-form">
            <h1>Login</h1>
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}